@use "../../styles/tokens";
@use "../../styles/base/placeholders";

.Todo__Form {
  @extend %divider--on-white;

  list-style-type: none;

  padding: {
    top: tokens.$spacing-c-05;
    bottom: tokens.$spacing-c-05;
  }
}

.Todo__Form__FormWrapper {
  display: flex;
  flex-direction: column;
}

.Todo__Form__SubmitButton {
  margin-left: tokens.$spacing-c-05;
}

.Todo__Form__Input {
  background-color: tokens.$color-background-input-enabled;
  border-radius: tokens.$border-radius-input-default;
  border: tokens.$size-border-input-default tokens.$color-border-input-enabled
    solid;
  color: tokens.$color-text-input-enabled;

  font: {
    size: tokens.$font-size-input-m;
    family: tokens.$font-family-body;
    weight: tokens.$font-weight-body;
  }

  line-height: tokens.$font-line-height-button-s;

  white-space: nowrap;
  height: tokens.$size-input-m;

  padding: {
    top: tokens.$spacing-input-vertical-m;
    left: tokens.$spacing-input-horizontal-m;
    right: tokens.$spacing-input-horizontal-m;
    bottom: tokens.$spacing-input-vertical-m;
  }

  margin-bottom: tokens.$spacing-c-03;
}

.Todo__Form__ButtonsContainer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  @include tokens.media-min(xxl) {
    flex-direction: row;
    align-items: center;
  }
}

.Todo__Form__MetaRow {
  display: flex;
  flex-wrap: wrap;

  @include tokens.media-min(xxl) {
    margin-right: tokens.$spacing-c-07;
  }
}

.Todo__Form__ButtonsRow {
  display: flex;

  margin-top: tokens.$spacing-c-05;

  @include tokens.media-min(xxl) {
    margin-top: 0;
    margin-left: auto;
  }
}

.Todo__Form__Project {
  margin-right: tokens.$spacing-c-05;
  margin-top: tokens.$spacing-c-02;
  margin-bottom: tokens.$spacing-c-02;

  @include tokens.media-min(xxl) {
    margin-right: tokens.$spacing-c-07;
  }
}

.Todo__Form__DueDate {
  margin-left: auto;
}
