rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth.uid != null;
    }
    
    function isOwner(userId) {
      return request.auth.uid == userId;
    }
    
    function queryLimit(limit) {
      return request.query.limit <= limit;
    }
    
    // user-profiles/<user-id>
    match /user-profiles/{userId} {
      allow get: if isOwner(userId);
      allow create: if isOwner(userId);
      allow update: if isOwner(userId);

      // user-profiles/<userId>/<imageId>
      match /{imageId} {
        allow get: if isOwner(userId);
        allow create: if isOwner(userId);
        allow update: if isOwner(userId);
      }
    }
  }
}
