@use "../../styles/tokens";

.PrimaryButton {
  background-color: tokens.$color-background-primary-enabled;
  border-radius: tokens.$border-radius-button-default;
  border: tokens.$size-border-button-default
    tokens.$color-border-primary-enabled solid;
  color: tokens.$color-text-button-primary-enabled;

  font-size: tokens.$font-size-button-m;
  line-height: tokens.$font-line-height-button-m;
  font-family: tokens.$font-family-button;
  font-weight: tokens.$font-weight-button;

  white-space: nowrap;
  height: tokens.$size-button-with-icon-m;

  padding: tokens.$spacing-button-default-vertical-m
    tokens.$spacing-button-default-horizontal-m;

  &__WithIcon {
    padding: tokens.$spacing-button-with-icon-vertical-m
      tokens.$spacing-button-with-icon-right-m
      tokens.$spacing-button-with-icon-vertical-m
      tokens.$spacing-button-with-icon-left-m;
  }

  &__Icon {
    width: tokens.$size-icon-m;
    height: tokens.$size-icon-m;
    fill: currentColor;

    position: static;
    display: inline-block;
    vertical-align: bottom;
    margin-right: tokens.rem(4);
  }

  &:hover {
    background-color: tokens.$color-background-primary-hover;
    border: tokens.$size-border-button-default
      tokens.$color-border-primary-hover solid;
    box-shadow: tokens.$shadow-button-primary-hover;
    cursor: pointer;
    outline: none;
  }

  &:focus {
    background-color: tokens.$color-background-primary-focus;
    border: tokens.$size-border-button-default
      tokens.$color-border-primary-focus solid;
    box-shadow: tokens.$shadow-button-primary-focus;
    cursor: pointer;
    outline: none;
  }

  &:active {
    background-color: tokens.$color-background-primary-active;
    border: tokens.$size-border-button-default
      tokens.$color-border-primary-active solid;
    box-shadow: none;
    cursor: pointer;
    outline: none;
  }

  &:disabled {
    background-color: tokens.$color-background-primary-disabled;
    border: tokens.$size-border-button-default
      tokens.$color-border-primary-disabled solid;
    box-shadow: none;
    outline: none;
    cursor: not-allowed;
    color: tokens.$color-icon-button-primary-disabled;

    &:hover,
    &:focus {
      cursor: not-allowed;
    }
  }
}
