@use "../../styles/tokens";
@use "../../styles/base/placeholders";

.DayPicker {
  display: inline-block;
  font-size: 0.9375rem;

  &-TodayButton {
  }

  &-NavBar {
    display: flex;
    align-items: center;
  }

  &-NavButton {
    right: auto;
    left: auto;
    color: #8b9898;
    padding: 0.25rem;
  }

  &-NavButton--prev {
    margin-right: 1em;
    left: 0.75rem;
  }

  &-NavButton--next {
    margin-left: 1em;
    right: 0.75rem;
  }

  &-Caption {
    margin-bottom: 1rem;
    padding: 0 2rem;
    margin-top: 0;
  }

  &-Caption > div {
    font-weight: 500;
    font-size: 1.15em;
    text-align: center;
  }

  &-Weekday {
    display: table-cell;
    padding: 0.5em;
    color: #8b9898;
    text-align: center;
    font-size: 0.875em;
  }

  &-Day {
    padding: 0.625em;
    border-radius: 0 !important;
  }

  &-WeekNumber {
    padding: 0.625em;
    min-width: 1em;
    border-right: 1px solid #eaecec;
    color: #8b9898;
    text-align: right;
  }

  &-Footer {
    padding-top: 0.5em;
  }

  /* Default modifiers */

  &-Day--today {
    color: #d0021b;
    font-weight: 700;
  }

  &-Day--outside {
    color: #8b9898;
    cursor: default;
  }

  &-Day--disabled {
    color: #dce0e0;
    cursor: default;
  }

  &-Day--today {
    color: tokens.$color-text-body-default !important;
  }

  &-Day:not(.DayPicker-Day--outside) {
    border: 1px solid lightgrey;
  }

  &-Day--start,
  &-Day--end {
    background-color: tokens.$color-text-body-default !important;
    color: tokens.$color-background-date-hover !important;
  }

  /* Dates in Range */
  .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: tokens.$color-background-date-hover !important;
    color: tokens.$color-text-body-default !important;
  }

  /* On hover */
  .DayPicker-Day:hover:not(.DayPicker-Day--selected):not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: tokens.$color-background-date-hover !important;
    color: tokens.$color-text-body-default !important;
  }
}
