@import "../../styles/tokens";

.Button {
  padding: rem(12) rem(16);
  background-color: $color-background-primary-enabled;
  color: $color-text-button-primary-enabled;
  font-size: $font-size-button-m;
  line-height: $font-line-height-button-m;
  font-family: $font-family-button;
}
