@use "../../styles/tokens";
@use "../../styles/base/placeholders";

.LabelsDropdown {
  &__Overlay {
    overflow-x: visible;
    background-color: transparent;
    z-index: tokens.$z-index-modal-popup;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  &__Wrapper {
    background-color: tokens.$color-background-dropdown-inner;
    box-shadow: tokens.$shadow-dropdown;
    border-radius: tokens.$border-radius-components-default;
    display: block;
    width: 100%;
    max-width: tokens.$size-dropdown-projects;
    padding-top: tokens.$spacing-c-03;
    margin-bottom: tokens.$spacing-l-07;

    position: absolute;
  }

  &__List {
    margin-left: 0;
    max-height: 40vh;
    list-style-type: none;
    overflow-x: auto;
  }

  &__ButtonsRow {
    @extend %top-divider--on-white;

    display: flex;
    justify-content: center;
    margin: tokens.$spacing-c-03;
    padding-top: tokens.$spacing-c-03;
  }

  &__Item {
    background-color: tokens.$color-dropdown-item-enabled;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    line-height: inherit;

    display: flex;
    flex: 1 1 auto;

    padding: {
      top: tokens.$spacing-c-03;
      right: tokens.$spacing-c-04;
      bottom: tokens.$spacing-c-03;
      left: tokens.$spacing-c-04;
    }

    &:hover {
      background-color: tokens.$color-dropdown-item-hover;
      color: tokens.$color-text-body-default;
      text-decoration: none;
      cursor: pointer;
    }

    &__Name {
      margin-right: auto;
      text-align: left;
    }

    &__Count {
      font-size: tokens.$font-size-body-s;
      line-height: tokens.$font-line-height-body-m;
      font-weight: 400;
      color: tokens.$color-text-body-subdued;
      margin-left: auto;
    }

    &__ColorIcon {
      width: tokens.$size-icon-m;
      height: tokens.$size-icon-m;
      margin-right: tokens.$spacing-c-04;
    }

    &__Check {
      width: tokens.$size-icon-m;
      height: tokens.$size-icon-m;
      margin-left: tokens.$spacing-c-04;
      fill: tokens.$color-icon-default-active;
    }

    &--Selected {
      background-color: tokens.$color-dropdown-item-selected;
    }
  }
}
