@import "../tokens";

html {
  background-color: $color-background-page-lightest;
  color: $color-text-body-default;
  font-family: $font-family-body;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  line-height: $font-line-height-body-m;
  // **********************************************************
  // Disables the browser's inflation algorithm.
  // Prevent font scaling in landscape while allowing user zoom
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
