$grey900: #1a212b;
$grey800: #3a424d;
$grey700: #5f6570;
$grey600: #81878f;
$grey500: #a3a8ad;
$grey400: #bfc3c7;
$grey300: #d2d5d9;
$grey200: #e3e6e8;
$grey100: #edf0f2;
$grey50: #f5f6f7;
$grey00: #ffffff;
$primary900: #021e4f;
$primary800: #073375;
$primary700: #123d8c;
$primary600: #1851bb;
$primary500: #2e6fd5;
$primary400: #4f8fe9;
$primary300: #7cb1f6;
$primary200: #b1d3fd;
$primary100: #cde3fe;
$primary50: #e8f3ff;
