@import "./base/_colors";
@import "./base/_variables";
@import "./base/_functions";
@import "./base/_mixins";

// ******************************************
// Color Tokens
// ******************************************

$color-text-body-default: $grey900;
$color-text-display-default: $grey900;
$color-text-button-primary-enabled: $primary50;
$color-text-button-primary-disabled: $grey00;

// Links
$color-text-link-default: $primary600;
$color-text-link-hover: $primary500;
$color-text-link-active: $primary700;

$color-background-outlined-enabled: transparent;
$color-background-outlined-hover: $grey100;
$color-background-outlined-active: $grey200;
$color-background-outlined-focus: $grey100;
$color-background-outlined-disabled: transparent;

$color-background-primary-enabled: $primary600;
$color-background-primary-hover: $primary500;
$color-background-primary-active: $primary700;
$color-background-primary-focus: $primary600;
$color-background-primary-disabled: $grey500;

$color-icon-button-primary-enabled: $primary600;
$color-icon-button-primary-hover: $primary500;
$color-icon-button-primary-active: $primary700;
$color-icon-button-primary-focus: $primary600;
$color-icon-button-primary-disabled: $grey500;

$color-icon-button-outlined-enabled: $grey900;
$color-icon-button-outlined-hover: $grey900;
$color-icon-button-outlined-active: $grey900;
$color-icon-button-outlined-focus: $grey900;
$color-icon-button-outlined-disabled: $grey500;

$color-border-outlined-enabled: transparent;
$color-border-outlined-hover: $grey100;
$color-border-outlined-active: $grey200;
$color-border-outlined-focus: $grey900;
$color-border-outlined-disabled: transparent;

$color-border-primary-enabled: $primary600;
$color-border-primary-hover: $primary500;
$color-border-primary-active: $primary700;
$color-border-primary-focus: $primary900;
$color-border-primary-disabled: $grey500;

// Border Colors
$color-border-header: $grey300;
$color-border-components-default: $grey300;

// Page Backgrounds
$color-background-page-lightest: $grey00;
$color-background-page-lighter: $grey50;
$color-background-page-light: $grey100;

// ******************************************
// Font Tokens
// ******************************************

// Body
$font-size-body-m: rem(16);
$font-size-body-s: rem(14);
$font-line-height-body-m: rem(24);
$font-line-height-body-s: rem(20);

// Display Font Size and Line Height
// Deskop
$font-size-desktop-display-xl: rem(40);
$font-size-desktop-display-l: rem(32);
$font-size-desktop-display-m: rem(28);
$font-size-desktop-display-s: rem(24);
$font-size-desktop-display-xs: rem(20);

$font-line-height-desktop-display-xl: rem(48);
$font-line-height-desktop-display-l: rem(40);
$font-line-height-desktop-display-m: rem(36);
$font-line-height-desktop-display-s: rem(32);
$font-line-height-desktop-display-xs: rem(32);

// Mobile
$font-size-mobile-display-xl: rem(28);
$font-size-mobile-display-l: rem(24);
$font-size-mobile-display-m: rem(20);
$font-size-mobile-display-s: rem(18);
$font-size-mobile-display-xs: rem(16);

$font-line-height-mobile-display-xl: rem(36);
$font-line-height-mobile-display-l: rem(32);
$font-line-height-mobile-display-m: rem(32);
$font-line-height-mobile-display-s: rem(32);
$font-line-height-mobile-display-xs: rem(24);

// Subhead
$font-size-subhead: rem(14);
$font-line-height-subhead: rem(20);

// Logo
$font-size-logo: rem(20);
$font-line-height-logo: rem(32);

// Buttons
$font-size-button-m: rem(16);
$font-size-button-s: rem(14);

$font-line-height-button-m: rem(24);
$font-line-height-button-s: rem(20);

$font-weight-button: 500;

// Font Families
$font-family-display: $font-family-default;
$font-family-button: $font-family-default;
$font-family-body: $font-family-default;

// ******************************************
// Spacing Tokens
// ******************************************

// Size nav
$spacing-site-nav-vertical-s: rem(8);
$spacing-site-nav-vertical-m: rem(8);

// Icon Buttons
$spacing-button-icon-horizontal-l: rem(11);
$spacing-button-icon-vertical-l: rem(11);
$spacing-button-icon-horizontal-m: rem(7);
$spacing-button-icon-vertical-m: rem(7);

// Buttons
$spacing-button-default-horizontal-l: rem(16);
$spacing-button-default-vertical-l: rem(12);
$spacing-button-default-horizontal-m: rem(16);
$spacing-button-default-vertical-m: rem(8);
$spacing-button-default-horizontal-s: rem(12);
$spacing-button-default-vertical-s: rem(4);

$spacing-button-with-icon-left-l: rem(12);
$spacing-button-with-icon-right-l: rem(16);
$spacing-button-with-icon-vertical-l: rem(12);
$spacing-button-with-icon-left-m: rem(12);
$spacing-button-with-icon-right-m: rem(16);
$spacing-button-with-icon-vertical-m: rem(6);
$spacing-button-with-icon-left-s: rem(8);
$spacing-button-with-icon-right-s: rem(12);
$spacing-button-with-icon-vertical-s: rem(4);

// Gutters
$grid-gutter-s: rem(16);
$grid-gutter-m: rem(24);

// Grid Spacing
$grid-spacing-s: rem(8);
$grid-spacing-m: rem(12);

// ******************************************
// Border Radius
// ******************************************

$border-radius-button-default: 3px;

// ******************************************
// Sizing Tokens
// ******************************************

// Site nav
$size-site-nav-s: rem(56);
$size-site-nav-m: rem(64);

// Buttons
$size-border-button-default: 1px;
$size-button-icon-m: rem(40);
$size-button-with-icon-m: rem(40);

// Icons
$size-icon-m: rem(24);
$size-icon-s: rem(20);

// ******************************************
// Box Shadows
// ******************************************

$shadow-button-outlined-focus: 0px 0px 0px 3px $grey300;
$shadow-button-primary-hover: 0px 2px 8px rgba(78, 145, 233, 0.3),
  0px 2px 2px rgba(78, 145, 233, 0.3), 0px 1px 1px rgba(45, 113, 213, 0.4);
$shadow-button-primary-focus: 0px 0px 0px 3px $primary300;
