$size-base: 16px;
$size-font-base: 1.125rem;
$size-line-height-base: 1.75rem;

$font-system: system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
