@use "../../styles/tokens";
@use "../../styles/base/placeholders";

.SideItem__Link {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  line-height: inherit;

  display: flex;
  flex: 1 1 auto;

  padding: {
    top: tokens.$spacing-c-03;
    bottom: tokens.$spacing-c-03;
  }

  &:hover {
    color: tokens.$color-text-body-default;
    text-decoration: none;
    cursor: pointer;
  }
}

.Sidebar__Item {
  display: flex;
  align-items: center;
  font-size: tokens.$font-size-body-m;
  line-height: tokens.$font-line-height-body-m;
  color: tokens.$color-text-body-default;

  margin: {
    left: -#{tokens.$grid-gutter-s};
    right: -#{tokens.$grid-gutter-s};
  }

  padding: {
    left: tokens.$grid-gutter-s;
    right: tokens.$grid-gutter-s;
  }

  @include tokens.media-min(m) {
    margin: {
      left: -#{tokens.$grid-gutter-m};
      right: -#{tokens.$grid-gutter-m};
    }
    padding: {
      left: tokens.$grid-gutter-m;
      right: tokens.$grid-gutter-m;
    }
  }

  &:hover {
    background-color: tokens.$color-background-sidebar-item-hover;
  }
}

.Sidebar__Item__Icon {
  display: block;
  width: tokens.$size-icon-m;
  height: tokens.$size-icon-m;
  margin-right: tokens.$spacing-c-04;
}

.Sidebar__Item__Count {
  font-size: tokens.$font-size-body-s;
  line-height: tokens.$font-line-height-body-m;
  color: tokens.$color-text-body-subdued;
  margin-left: auto;
}
