@import "../../styles/tokens";

.Logo {
  font-family: $font-family-display;
  font-weight: 700;
  font-style: normal;
  font-size: $font-size-logo;
  line-height: $font-line-height-logo;
  color: $color-text-display-default;

  text-decoration: none;

  &:hover {
    color: $color-text-link-hover;
  }
}
