@use "../../styles/tokens";

.Logo {
  font-family: tokens.$font-family-display;
  font-weight: 700;
  font-style: normal;
  font-size: tokens.$font-size-logo;
  line-height: tokens.$font-line-height-logo;
  color: tokens.$color-text-display-default;

  text-decoration: none;

  &:hover {
    color: tokens.$color-text-link-hover;
  }
}
