$timing-base: 250ms;
$timing-menu-transition: 250ms;
$timing-avatar-fadein: 500ms;
$timing-modal-fadein: 200ms;
$timing-todo-item-scroll-to: 1600ms;
$timing-spinner: 1000ms;
$timing-cookie-consent: 220ms;
$timing-image-placeholder: 3s;
$timing-sidebar-list: 250ms;
$timing-sidebar-icon: 250ms;
