@use "../base/functions";

// ******************************************
// Sizing Tokens
// ******************************************

// Site nav
$size-site-nav-s: functions.rem(56);
$size-site-nav-m: functions.rem(64);

// Buttons
$size-border-button-default: functions.rem(2);
$size-border-input-default: functions.rem(1);
$size-button-icon-m: functions.rem(40);
$size-button-with-icon-m: functions.rem(40);
$size-button-todo: functions.rem(24);

// Icons
$size-avatar-m: functions.rem(36);
$size-avatar-s: functions.rem(24);

// Dividers
$size-divider-m: functions.rem(2);
$size-divider-s: functions.rem(1);

// Icons
$size-icon-m: functions.rem(24);
$size-icon-s: functions.rem(20);

// Input fields
$size-input-m: functions.rem(40);
$size-input-s: functions.rem(32);

// Border Radius
$border-radius-button-default: 3px;
$border-radius-components-default: 3px;
$border-radius-button-text: 1px;
$border-radius-input-default: 3px;

// Avatars
$border-avatar-default: functions.rem(1);

// Todo Button Icon
$border-todo-checkbox: functions.rem(1);
