@use "../../styles/tokens";

.ProjectsDropdown {
  &__Overlay {
    overflow-x: visible;
    background-color: transparent;
    z-index: tokens.$z-index-modal-popup;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  &__List {
    background-color: tokens.$color-background-dropdown-inner;
    box-shadow: tokens.$shadow-dropdown;
    border-radius: tokens.$border-radius-components-default;
    display: block;
    width: 100%;
    max-width: tokens.$size-dropdown-projects;
    padding: tokens.$spacing-c-02 0;

    position: absolute;

    margin-left: 0;
    list-style-type: none;
  }

  &__Item {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    line-height: inherit;

    display: flex;
    flex: 1 1 auto;

    padding: {
      top: tokens.$spacing-c-03;
      right: tokens.$spacing-c-05;
      bottom: tokens.$spacing-c-03;
      left: tokens.$spacing-c-04;
    }

    &:hover {
      background-color: tokens.$color-background-sidebar-item-hover;
      color: tokens.$color-text-body-default;
      text-decoration: none;
      cursor: pointer;
    }

    &--Active {
      background-color: tokens.$color-background-sidebar-item-hover;
      font-family: tokens.$font-family-display;
      font-weight: 700;
    }

    &__Count {
      font-size: tokens.$font-size-body-s;
      line-height: tokens.$font-line-height-body-m;
      font-weight: 400;
      color: tokens.$color-text-body-subdued;
      margin-left: auto;
    }

    &__ColorIcon {
      width: tokens.$size-icon-m;
      height: tokens.$size-icon-m;
      margin-right: tokens.$spacing-c-04;
    }
  }
}
