@import "../../styles/tokens";

.Header {
  background-color: $color-background-page-lightest;
  height: $size-site-nav-s;
  width: 100%;
  border-bottom: 1px solid $color-border-header;
  padding: $spacing-site-nav-vertical-s $grid-gutter-s;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-min(s) {
    height: $size-site-nav-s;
    padding: $spacing-site-nav-vertical-m $grid-gutter-m;
  }
}

.Buttons {
  display: flex;
}

.Menu {
  display: inline-block;
  margin-left: rem(8);
}

.Search {
  display: inline-block;
  margin-left: rem(8);
}

.AddTask {
  display: inline-block;
  margin-left: rem(8);
}
