@use "../../styles/tokens";

.Site__Header__Wrapper {
  background-color: tokens.$color-background-page-lightest;
  border-bottom: 1px solid tokens.$color-border-header;
  height: tokens.$size-site-nav-s;
  width: 100%;

  padding-top: tokens.$spacing-site-nav-vertical-s;
  padding-bottom: tokens.$spacing-site-nav-vertical-s;

  @include tokens.media-min(tokens.$grid-gutter-breakpoint-change) {
    height: tokens.$size-site-nav-s;
    padding-top: tokens.$spacing-site-nav-vertical-m;
    padding-bottom: tokens.$spacing-site-nav-vertical-m;
  }
}

.Buttons__Wrapper {
  display: flex;
  align-items: center;
}

.Site__Header__Nav {
  display: flex;
  align-items: center;
}

.Buttons {
  display: flex;
  margin-left: auto;
}

.Menu {
  display: inline-block;
  margin-left: tokens.rem(8);

  @include tokens.media-min(tokens.$grid-gutter-breakpoint-change) {
    display: none;
  }
}

.SearchButton {
  display: inline-block;
  margin-left: tokens.rem(8);

  @include tokens.media-min(tokens.$grid-gutter-breakpoint-change) {
    display: none;
  }
}

.AddTodoMobile {
  margin-left: tokens.rem(8);
  display: inline-block;

  @include tokens.media-min(tokens.$grid-gutter-breakpoint-change) {
    display: none;
  }
}

.AddTodoDesktop {
  display: none;

  @include tokens.media-min(tokens.$grid-gutter-breakpoint-change) {
    display: inline-block;
  }
}
