@use "../../styles/tokens";

.Site__Header {
  background-color: tokens.$color-background-page-lightest;
  border-bottom: 1px solid tokens.$color-border-header;
  height: tokens.$size-site-nav-s;
  width: 100%;

  padding-top: tokens.$spacing-site-nav-vertical-s;
  padding-bottom: tokens.$spacing-site-nav-vertical-s;

  @include tokens.media-min(tokens.$grid-gutter-breakpoint-change) {
    height: tokens.$size-site-nav-s;
    padding-top: tokens.$spacing-site-nav-vertical-m;
    padding-bottom: tokens.$spacing-site-nav-vertical-m;
  }

  &__Nav {
    display: flex;
    align-items: center;
  }

  &__Search__Buttons {
    display: flex;
    align-items: center;
  }

  &__Buttons__Wrapper {
    display: flex;
    margin-left: auto;
    margin-right: -#{tokens.$grid-spacing-s};

    @include tokens.media-min(tokens.$grid-gutter-breakpoint-change) {
      margin-right: 0;
    }
  }
}

.SearchButton {
  display: inline-block;
  margin-left: tokens.$spacing-c-03;

  @include tokens.media-min(tokens.$grid-gutter-breakpoint-change) {
    display: none;
  }
}

.AddTodoMobile {
  margin-left: tokens.$spacing-c-03;
  display: inline-block;

  @include tokens.media-min(tokens.$grid-gutter-breakpoint-change) {
    display: none;
  }
}

.AddTodoDesktop {
  display: none;

  @include tokens.media-min(tokens.$grid-gutter-breakpoint-change) {
    display: inline-block;
  }
}
