@use "../../styles/tokens";
@use "../../styles/base/placeholders";

.DatePicker {
  &__Overlay {
    overflow-x: visible;
    background-color: transparent;
    z-index: tokens.$z-index-modal-popup;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  &__Inner {
    background-color: tokens.$color-background-dropdown-inner;
    box-shadow: tokens.$shadow-dropdown;
    border-radius: tokens.$border-radius-components-default;
    display: block;
    width: 100%;
    max-width: tokens.$size-dropdown-datepicker;
    padding: tokens.$spacing-c-02 0;

    position: absolute;
  }

  &__ErrorMessage {
    display: block;
    margin: tokens.$spacing-c-03;
    padding-bottom: tokens.$spacing-c-03;
    font-size: tokens.$font-size-body-s;
    line-height: tokens.$font-line-height-body-s;
  }

  &__SubmitButton {
    margin-left: tokens.$spacing-c-05;
  }

  &__ButtonsRow {
    @extend %top-divider--on-white;

    display: flex;
    justify-content: center;
    margin: tokens.$spacing-c-03;
    padding-top: tokens.$spacing-c-03;
  }
}

// react-day-picker overides
.DayPicker {
  display: inline-block;
  font-size: 0.9375rem;

  &-TodayButton {
  }

  &-NavBar {
    display: flex;
    align-items: center;
  }

  &-NavButton {
    right: auto;
    left: auto;
    color: #8b9898;
    padding: 0.25rem;
  }

  &-NavButton--prev {
    margin-right: 1em;
    left: 0.75rem;
  }

  &-NavButton--next {
    margin-left: 1em;
    right: 0.75rem;
  }

  &-Caption {
    margin-bottom: 1rem;
    padding: 0 2rem;
    margin-top: 0;
  }

  &-Caption > div {
    font-weight: 500;
    font-size: 1.15em;
    text-align: center;
  }

  &-Weekday {
    display: table-cell;
    padding: 0.5em;
    color: #8b9898;
    text-align: center;
    font-size: 0.875em;
  }

  &-Day {
    padding: 0.625em;
    border-radius: 0 !important;
  }

  &-WeekNumber {
    padding: 0.625em;
    min-width: 1em;
    border-right: 1px solid #eaecec;
    color: #8b9898;
    text-align: right;
  }

  &-Footer {
    padding-top: 0.5em;
  }

  /* Default modifiers */

  &-Day--outside {
    color: #8b9898;
    cursor: default;
  }

  &-Day--disabled {
    background-color: tokens.$color-background-date-disabled !important;
    color: tokens.$color-text-date-disabled !important;
    cursor: not-allowed;
  }

  &-Day--today {
    background-color: tokens.$color-background-date-today !important;
    color: tokens.$color-text-date-today !important;
  }

  &-Day:not(.DayPicker-Day--outside) {
    border: 1px solid lightgrey;
  }

  &-Day--start,
  &-Day--end {
    background-color: tokens.$color-text-date-enabled !important;
    color: tokens.$color-background-date-hover !important;
  }

  /* On hover */
  .DayPicker-Day:hover:not(.DayPicker-Day--selected):not(.DayPicker-Day--disabled):not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: tokens.$color-background-date-hover !important;
    color: tokens.$color-text-date-hover !important;
  }

  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    background-color: tokens.$color-background-date-selected !important;
    color: tokens.$color-text-date-selected !important;
    font-weight: bold;
  }
}
