@use "../../styles/tokens";
@use "../../styles/base/placeholders";

.Sidebar {
  display: none;
  background-color: tokens.$color-background-page-lightest;

  will-change: transform;
  position: fixed;
  z-index: 1000;
  top: tokens.$size-site-nav-s;
  left: tokens.$grid-spacing-s;
  right: tokens.$grid-spacing-s;

  transform: translateX(-120%);
  pointer-events: none;
  transition: transform ease-out tokens.$timing-menu-transition;

  margin-top: tokens.$spacing-c-06;

  @include tokens.media-min(tokens.$grid-gutter-breakpoint-change) {
    background-color: tokens.$color-background-page-lighter;
    display: block;
    position: static;
    transform: none;
    transition: none;
    pointer-events: auto;
  }

  @include tokens.media-min(xl) {
    margin-top: tokens.$spacing-c-08;
  }

  &--IsTransitioning {
    display: block !important;
  }

  &--Visible {
    display: block;
    transform: translateY(0);
    pointer-events: auto;
  }
}

.Sidebar__Section {
  margin-bottom: tokens.$spacing-c-07;

  @include tokens.media-min(tokens.$grid-gutter-breakpoint-change) {
    margin-bottom: tokens.$spacing-c-08;
  }

  & li {
    list-style-type: none;
  }
}

.Sidebar__Link {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  line-height: inherit;

  display: flex;
  flex: 1 1 auto;

  margin: {
    left: -#{tokens.$grid-gutter-s};
    right: -#{tokens.$grid-gutter-s};
  }

  padding: {
    top: tokens.$spacing-c-03;
    right: tokens.$grid-gutter-s;
    bottom: tokens.$spacing-c-03;
    left: tokens.$grid-gutter-s;
  }

  &:hover {
    background-color: tokens.$color-background-sidebar-item-hover;
    color: tokens.$color-text-body-default;
    text-decoration: none;
    cursor: pointer;
  }

  @include tokens.media-min(tokens.$grid-gutter-breakpoint-change) {
    margin: {
      left: -#{tokens.$grid-gutter-m};
      right: -#{tokens.$grid-gutter-m};
    }
    padding: {
      left: tokens.$grid-gutter-m;
      right: tokens.$grid-gutter-m;
    }
  }

  &--Active {
    background-color: tokens.$color-background-sidebar-item-hover;
    font-family: tokens.$font-family-display;
    font-weight: 700;
  }
}

.Sidebar__Section__Item {
  display: flex;
  align-items: center;
  font-size: tokens.$font-size-body-m;
  line-height: tokens.$font-line-height-body-m;
  color: tokens.$color-text-body-default;
}

.Sidebar__AddNew__Button {
  display: block;

  margin: {
    left: -#{tokens.$grid-gutter-s};
    right: -#{tokens.$grid-gutter-s};
    top: tokens.$spacing-c-05;
  }

  padding: {
    left: tokens.$grid-gutter-s;
    right: tokens.$grid-gutter-s;
  }

  @include tokens.media-min(tokens.$grid-gutter-breakpoint-change) {
    margin: {
      left: -#{tokens.$grid-gutter-m};
      right: -#{tokens.$grid-gutter-m};
    }
    padding: {
      left: tokens.$grid-gutter-m;
      right: tokens.$grid-gutter-m;
    }
  }
}

.Sidebar__Section__Item__Icon {
  width: tokens.$size-icon-m;
  height: tokens.$size-icon-m;
  fill: tokens.$color-icon-default;
  margin-right: tokens.$spacing-c-04;
}

.Sidebar__Section__Item__Color__Icon {
  width: tokens.$size-icon-m;
  height: tokens.$size-icon-m;
  margin-right: tokens.$spacing-c-04;
}

.Sidebar__Section__Item__Icon__Day {
  & text {
    font-size: tokens.$font-size-calendar-day;
    line-height: tokens.$font-line-height-calendar-day;
    fill: tokens.$color-text-body-default;
    font-family: tokens.$font-family-body;
    font-weight: 500;
  }
}

.Sidebar__Section__Item__Count {
  font-size: tokens.$font-size-body-s;
  line-height: tokens.$font-line-height-body-m;
  font-weight: 400;
  color: tokens.$color-text-body-subdued;
  margin-left: auto;
}

.Sidebar__Avatar {
  display: flex;
  align-items: center;
}

.Sidebar__Avatar__Link {
  text-decoration: none;
  color: tokens.$color-text-body-default;
  font-size: tokens.$font-size-body-m;
  line-height: tokens.$font-line-height-body-m;

  display: flex;

  margin: {
    left: -#{tokens.$grid-gutter-s};
    right: -#{tokens.$grid-gutter-s};
    bottom: tokens.$spacing-c-03;
  }

  padding: {
    top: tokens.$spacing-c-03;
    bottom: tokens.$spacing-c-03;
    left: tokens.$grid-gutter-s;
    right: tokens.$grid-gutter-s;
  }

  @include tokens.media-min(tokens.$grid-gutter-breakpoint-change) {
    margin: {
      left: -#{tokens.$grid-gutter-m};
      right: -#{tokens.$grid-gutter-m};
    }
    padding: {
      left: tokens.$grid-gutter-m;
      right: tokens.$grid-gutter-m;
    }
  }

  &:hover {
    color: tokens.$color-text-body-default;
    text-decoration: none;
    cursor: pointer;
  }
}

.Sidebar__Avatar__Image {
  width: tokens.$size-avatar-m;
  height: tokens.$size-avatar-m;
  margin-right: tokens.$spacing-c-03;
  margin-left: -#{tokens.$spacing-c-03};
  border: tokens.$border-avatar-default tokens.$color-avatar-on-white solid;
  border-radius: 50%;
}

.Sidebar__Section__Title {
  display: flex;
  padding-bottom: tokens.$spacing-c-04;
  @extend %bottom-divider--on-white;

  margin: {
    left: -#{tokens.$grid-gutter-s};
    right: -#{tokens.$grid-gutter-s};
    bottom: tokens.$spacing-c-05;
  }

  padding: {
    left: tokens.$grid-gutter-s;
    right: tokens.$grid-gutter-s;
    top: tokens.$spacing-c-03;
    bottom: tokens.$spacing-c-03;
  }

  @include tokens.media-min(tokens.$grid-gutter-breakpoint-change) {
    margin: {
      left: -#{tokens.$grid-gutter-m};
      right: -#{tokens.$grid-gutter-m};
    }
    padding: {
      left: tokens.$grid-gutter-m;
      right: tokens.$grid-gutter-m;
    }
  }

  &:hover {
    background-color: tokens.$color-background-sidebar-item-hover;
    cursor: pointer;
  }
}

.Sidebar__Section__Title__Button {
  background-color: tokens.$color-background-outlined-enabled;
  border: none;

  display: flex;
  flex: 6 1 auto;

  margin-right: tokens.$spacing-c-05;
  font-size: tokens.$font-size-body-m;
  line-height: tokens.$font-line-height-body-m;
  font-weight: 700;

  margin-top: 0;
  margin-bottom: 0;

  &:hover {
    cursor: pointer;
  }

  .js-focus-visible &:focus:not([data-focus-visible-added]) {
    outline: none;
    cursor: pointer;
  }
}

.Sidebar__Section__Title__Icon {
  width: tokens.$size-icon-m;
  height: tokens.$size-icon-m;
  fill: tokens.$color-icon-default;
  margin-right: tokens.$spacing-c-04;
}

.Sidebar__Section__Title__SeeAll {
  text-align: right;
  text-decoration: none;
  color: tokens.$color-text-body-default;
  font-size: tokens.$font-size-body-m;
  line-height: tokens.$font-line-height-body-m;
  font-weight: 400;

  display: flex;
  flex: 0 1 auto;

  &:hover {
    color: tokens.$color-text-body-default;
    text-decoration: none;
    cursor: pointer;
  }

  .js-focus-visible &:focus:not([data-focus-visible-added]) {
    outline: none;
    cursor: pointer;
  }
}
