@import "styles/colors";
@import "styles/_reset";

.App {
  text-align: center;
}

.Header {
  background-color: $grey100;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $grey00;
}
