@use "../../styles/tokens";

.IconButton {
  background-color: tokens.$color-background-outlined-enabled;
  border-radius: tokens.$border-radius-button-default;
  border: tokens.$size-border-button-default
    tokens.$color-border-outlined-enabled solid;
  color: tokens.$color-icon-button-outlined-enabled;

  padding: tokens.$spacing-button-icon-vertical-m
    tokens.$spacing-button-icon-horizontal-m;

  height: tokens.$size-button-icon-m;
  width: tokens.$size-button-icon-m;

  &__Icon {
    width: tokens.$size-icon-m;
    height: tokens.$size-icon-m;
    fill: currentColor;
    display: block;
    position: static;
  }

  &:hover {
    background-color: tokens.$color-background-outlined-hover;
    border: tokens.$size-border-button-default
      tokens.$color-border-outlined-hover solid;
    box-shadow: none;
    color: tokens.$color-icon-button-outlined-hover;
    cursor: pointer;
    outline: none;
  }

  &:focus {
    background-color: tokens.$color-background-outlined-focus;
    border: tokens.$size-border-button-default
      tokens.$color-border-outlined-focus solid;
    box-shadow: tokens.$shadow-button-outlined-focus;
    color: tokens.$color-icon-button-outlined-focus;
    cursor: pointer;
    outline: none;
  }

  &:active {
    background-color: tokens.$color-background-outlined-active;
    border: tokens.$size-border-button-default
      tokens.$color-border-outlined-active solid;
    box-shadow: none;
    color: tokens.$color-icon-button-outlined-active;
    cursor: pointer;
    outline: none;
  }

  &:disabled {
    background-color: tokens.$color-background-outlined-disabled;
    border: tokens.$size-border-button-default
      tokens.$color-border-outlined-disabled solid;
    box-shadow: none;
    outline: none;
    cursor: not-allowed;
    color: tokens.$color-icon-button-outlined-disabled;

    &:hover,
    &:focus {
      cursor: not-allowed;
    }
  }
}
