@import "../../styles/tokens";

.IconButton {
  background-color: $color-background-outlined-enabled;
  border-radius: $border-radius-button-default;
  border: $size-border-button-default $color-border-outlined-enabled solid;
  color: $color-icon-button-outlined-enabled;

  padding: $spacing-button-icon-vertical-m $spacing-button-icon-horizontal-m;

  height: $size-button-icon-m;
  width: $size-button-icon-m;

  &__Icon {
    width: $size-icon-m;
    height: $size-icon-m;
    fill: currentColor;
    display: block;
    position: static;
  }

  &:hover {
    background-color: $color-background-outlined-hover;
    border: $size-border-button-default $color-border-outlined-hover solid;
    box-shadow: none;
    color: $color-icon-button-outlined-hover;
    cursor: pointer;
    outline: none;
  }

  &:focus {
    background-color: $color-background-outlined-focus;
    border: $size-border-button-default $color-border-outlined-focus solid;
    box-shadow: $shadow-button-outlined-focus;
    color: $color-icon-button-outlined-focus;
    cursor: pointer;
    outline: none;
  }

  &:active {
    background-color: $color-background-outlined-active;
    border: $size-border-button-default $color-border-outlined-active solid;
    box-shadow: none;
    color: $color-icon-button-outlined-active;
    cursor: pointer;
    outline: none;
  }

  &:disabled {
    background-color: $color-background-outlined-disabled;
    border: $size-border-button-default $color-border-outlined-disabled solid;
    box-shadow: none;
    outline: none;
    cursor: not-allowed;
    color: $color-icon-button-outlined-disabled;

    &:hover,
    &:focus {
      cursor: not-allowed;
    }
  }
}
