@use "variables";
@use "functions";

@use "sass:map";

@mixin media-min($breakpoint) {
  @if map.has-key(grid.$breakpoints, $breakpoint) {
    $breakpoint-value: map.get(grid.$breakpoints, $breakpoint);
    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin media-max($breakpoint) {
  @if map.has-key(grid.$breakpoints, $breakpoint) {
    $breakpoint: map.get(grid.$breakpoints, $breakpoint);
    @media (max-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin media-between($lower, $upper) {
  @if map.has-key(grid.$breakpoints, $lower) and
    map.has-key(grid.$breakpoints, $upper)
  {
    $lower-breakpoint: map.get(grid.$breakpoints, $lower);
    $upper-breakpoint: map.get(grid.$breakpoints, $upper);

    @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
      @content;
    }
  } @else {
    @if (map.has-key(grid.$breakpoints, $lower) == false) {
      @warn 'Your lower breakpoint was invalid: #{$lower}.';
    }

    @if (map.has-key(grid.$breakpoints, $upper) == false) {
      @warn 'Your upper breakpoint was invalid: #{$upper}.';
    }
  }
}

@mixin fade-in-nav-buttons($distance: 4) {
  0% {
    opacity: 0;
    transform: translateY(functions.rem($distance));
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
