@use "../tokens";

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%InputMedium {
  background-color: tokens.$color-background-input-enabled;
  border-radius: tokens.$border-radius-input-default;
  border: tokens.$size-border-input-default tokens.$color-border-input-enabled
    solid;
  color: tokens.$color-text-input-enabled;

  font: {
    size: tokens.$font-size-input-m;
    family: tokens.$font-family-body;
    weight: tokens.$font-weight-body;
  }

  line-height: tokens.$font-line-height-input-m;

  white-space: nowrap;
  height: tokens.$size-input-m;

  padding: {
    top: tokens.$spacing-input-vertical-m;
    left: tokens.$spacing-input-horizontal-m;
    right: tokens.$spacing-input-horizontal-m;
    bottom: tokens.$spacing-input-vertical-m;
  }
}

%InputSmall {
  background-color: tokens.$color-background-input-enabled;
  border-radius: tokens.$border-radius-input-default;
  border: tokens.$size-border-input-default tokens.$color-border-input-enabled
    solid;
  color: tokens.$color-text-input-enabled;

  font: {
    size: tokens.$font-size-input-m;
    family: tokens.$font-family-body;
    weight: tokens.$font-weight-body;
  }

  line-height: tokens.$font-line-height-button-s;

  white-space: nowrap;
  height: tokens.$size-input-s;

  padding: {
    top: tokens.$spacing-input-vertical-s;
    left: tokens.$spacing-input-horizontal-s;
    right: tokens.$spacing-input-horizontal-s;
    bottom: tokens.$spacing-input-vertical-s;
  }
}

%Todo__Form__Meta {
  background-color: tokens.$color-background-todo-meta-enabled;
  border-radius: tokens.$border-radius-button-default;
  border: none;
  padding-right: tokens.$spacing-c-02;

  &:hover {
    background-color: tokens.$color-background-todo-meta-hover;
    cursor: pointer;
  }

  &:focus {
    background-color: tokens.$color-background-todo-meta-focus;
    cursor: pointer;
  }

  &:active {
    background-color: tokens.$color-background-todo-meta-active;
    cursor: pointer;
  }

  &:disabled {
    background-color: tokens.$color-background-todo-meta-disabled;
    cursor: not-allowed;
    color: tokens.$color-icon-button-text-disabled;

    &:hover,
    &:focus {
      cursor: not-allowed;
    }
  }
}

%divider--on-white {
  border-bottom: tokens.$size-divider-s solid tokens.$color-divider-on-white;
}

%divider--on-grey {
  border-bottom: tokens.$size-divider-s solid tokens.$color-divider-on-grey;
}

%bg-debug {
  * {
    background-color: rgba(255, 0, 0, 0.2);
  }
  * * {
    background-color: rgba(0, 255, 0, 0.2);
  }
  * * * {
    background-color: rgba(0, 0, 255, 0.2);
  }
  * * * * {
    background-color: rgba(255, 0, 255, 0.2);
  }
  * * * * * {
    background-color: rgba(0, 255, 255, 0.2);
  }
  * * * * * * {
    background-color: rgba(255, 255, 0, 0.2);
  }
  * * * * * * * {
    background-color: rgba(255, 0, 0, 0.2);
  }
  * * * * * * * * {
    background-color: rgba(0, 255, 0, 0.2);
  }
  * * * * * * * * * {
    background-color: rgba(0, 0, 255, 0.2);
  }
}

%olg-debug {
  &,
  * {
    outline: 1px solid rgba(255, 0, 0, 0.2);
  }
  * * {
    outline: 1px solid rgba(0, 255, 0, 0.2);
  }
  * * * {
    outline: 1px solid rgba(0, 0, 255, 0.2);
  }
  * * * * {
    outline: 1px solid rgba(255, 0, 255, 0.2);
  }
  * * * * * {
    outline: 1px solid rgba(0, 255, 255, 0.2);
  }
  * * * * * * {
    outline: 1px solid rgba(255, 255, 0, 0.2);
  }
  * * * * * * * {
    outline: 1px solid rgba(255, 0, 0, 0.2);
  }
  * * * * * * * * {
    outline: 1px solid rgba(0, 255, 0, 0.2);
  }
  * * * * * * * * * {
    outline: 1px solid rgba(0, 0, 255, 0.2);
  }
}
