@use "functions";

$font-family-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
$font-family-default: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;

// ******************************************
// Breakpoints
// ******************************************

$breakpoints: (
  xxxs: functions.rem(360),
  xxs: functions.rem(420),
  xs: functions.rem(480),
  s: functions.rem(560),
  m: functions.rem(560),
  l: functions.rem(680),
  xl: functions.rem(800),
  xxl: functions.rem(1024),
  xxxl: functions.rem(1200),
);
